{% extends 'Basic.html' %}
{% block title %}Delete Employes{% endblock title %}

{% block body %}
  <main id="main" class="main">
            <div class="pagetitle">
                <h1>Form Layouts</h1>
                <nav>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'Employe_List' %}">Home</a></li>
                    <li class="breadcrumb-item">Forms</li>
                    <li class="breadcrumb-item active">Layouts</li>
                  </ol>
                </nav>
            </div><!-- End Page Title -->
      <section class="section">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                    <h5 class="card-title">Employe Form</h5>
                    <h2>Delete Employe</h2>
                    <p>Are you sure you want to delete the employe recored file "{{ emps_delete.firstname }}  {{ emps_delete.lastname }}"?</p>
                  <form method="POST">
                      {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'Employe_List' %}" class="btn btn-secondary">Cancel</a>
                  </form>
              </div>
            </div>
          </div>
      </section>
    </main><!-- End #main -->
{% endblock %}
